/*Gotham*/
@font-face{
  font-family: Gotham;
  src:url('../fonts/GothamMedium.truetype') format('truetype');
}

/*Bahnschrift*/
@font-face {
	font-family: Bahnschrift;
	src:url('../fonts/bahnschrift.truetype') format('truetype');
}

/*Futura Canal*/
@font-face {
	font-family: Futura-Canal;
	src:url('../fonts/FuturaCanal-Light.truetype') format('truetype');
}

/*FranceTV Brown*/
@font-face {
	font-family: FranceTV-Brown;
	src:url('../fonts/FranceTVBrown-Regular.truetype') format('truetype');
}

/*Gotham black*/
@font-face {
	font-family: Gotham-Black;
	src:url('../fonts/Gotham-Black.otf') format('otf');
}

bonjour {
	font-family: Gotham-Black;
}

numero {
	font-family: Bahnschrift;
}

texte {
	font-family: Futura-Canal;
}

texte2 {
	font-family: FranceTV-Brown;
}