/*Gotham*/
@font-face{
  font-family: Gotham;
  src:url('../fonts/GothamMedium.ttf') format('ttf');
}

/*Bahnschrift*/
@font-face {
	font-family: Bahnschrift;
	src:url('../fonts/bahnschrift.ttf') format('ttf');
}

/*Futura Canal*/
@font-face {
	font-family: Futura Canal;
	src:url('../fonts/FuturaCanal-Light.ttf') format('ttf');
}

/*FranceTV Brown*/
@font-face {
	font-family: FranceTV Brown;
	src:url('../fonts/FranceTVBrown-Regular.ttf') format('ttf');
}

/*Gotham black*/
@font-face {
	font-family: Gotham Black;
	src:url('../fonts/Gotham-Black.otf') format('otf');
}

bonjour {
	font-family: Gotham Black;
}

numero {
	font-family: Bahnschrift;
}

texte {
	font-family: Futura Canal;
}

texte2 {
	font-family: FranceTV Brown;
}